# {{ row }}, port: {{ port }}
subnet {{ network }} netmask {{ netmask }}  {
    pool {
        allow unknown-clients;
        deny members of "linksys";
        option subnet-mask {{ netmask }} ;
        option routers {{ gateway }};
        option domain-name "{{ row }}.somelan";
        ddns-domainname "{{ row }}.somelan";
        range {{ start }} {{ end }};
    }
    pool {
        option subnet-mask {{ netmask }} ;
        option routers {{ gateway }};
        range {{ start }} {{ start }};
        allow members of "linksys";
        on commit {
            execute("/usr/bin/python3.4", "/derp.py", "{{ row }}.txt", "{{ start }}");
        }
    }
}
